
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/********** Template CSS **********/

:root {
	
  /* Variables de color */
  
	--primary: #2875cd;
	--first-aux: #333333;
	--second-aux: #a8a8a8;
	--dark: #000000;
	--dark-pmo: #000000;
	--light: #ffffff;
  
  /* Variables de fuente */

	--font-primary: 'DM Sans', sans-serif;

}


/********** End template CSS **********/

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);
  background-color: var(--light);
  margin: 0;
  padding: 0px;
}


.ff-100 {
  font-family: var(--font-primary);
  font-weight: 100;
  font-style: normal;
}

.ff-200 {
  font-family: var(--font-primary);
  font-weight: 200;
  font-style: normal;
}

.ff-300 {
  font-family: var(--font-primary);
  font-weight: 300;
  font-style: normal;
}

.ff-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
}

.ff-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-style: normal;
}

.ff-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-style: normal;
}

.ff-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-style: normal;
}

.ff-800 {
  font-family: var(--font-primary);
  font-weight: 800;
  font-style: normal;
}

.ff-900 {
  font-family: var(--font-primary);
  font-weight: 900;
  font-style: normal;
}

.ff-i-100 {
  font-family: var(--font-primary);
  font-weight: 100;
  font-style: italic;
}

.ff-i-200 {
  font-family: var(--font-primary);
  font-weight: 200;
  font-style: italic;
}

.ff-i-300 {
  font-family: var(--font-primary);
  font-weight: 300;
  font-style: italic;
}

.ff-i-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: italic;
}

.ff-i-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-style: italic;
}

.ff-i-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-style: italic;
}

.ff-i-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-style: italic;
}

.ff-i-800 {
  font-family: var(--font-primary);
  font-weight: 800;
  font-style: italic;
}

.ff-i-900 {
  font-family: var(--font-primary);
  font-weight: 900;
  font-style: italic;
}

p {
    font-size: 20px;
    line-height: 1.6;
    color: var(--first-aux);
    padding: 1rem 0rem;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 p {
  font-family: var(--font-primary);
}

h1, .h1 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 2.8rem;
}

h2, .h2 {
  font-family: var(--font-primary);
  font-weight: 500;
}

h3, .h3 {
  font-family: var(--font-primary);
  font-weight: 400;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}

.z-a {
  color: var(--dark) !important;
  text-decoration: none !important;
  font-size: 15px !important;
}

.z-a:hover {
  color: var(--primary) !important;
  text-decoration: none !important;
}


.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Width ***/

.w-60 {
  width: 60% !important;
}

.w-80 {
  width: 80% !important;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
#doughnut-chart {

background: var(--light) !important;

}




/** LOGIN **/

.h-login {
	height: 100%;
}

.mod-left {
	margin: 0px;
/*	border-radius: 15px 0px 0px 15px;*/
	align-content: center;
    text-align: center;
    padding: 30px 0px 50px 0px;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 62%);
}

.mod-right {
	margin: 0px;
/*	background-color: #fff;*/
    align-content: center;
    text-align: center;
    padding: 0px;
/*    border-radius: 0px 15px 15px 0px;*/
}

.p-content-r {
    padding: 8% 15%;
}

.tab-right {
    background-color: var(--primary);
    width: 25%;
    padding: 10px 10px 2px 20px;
    margin-left: 0px;
    margin-top: 30px;
    border-radius: 0px 50px 50px 0px;
}

.tab-right h4 {
    color: var(--light);
}

.slick-slide img {
    display: inline-block !important;
    width: 65%;
}

.slick-dots {
	display: none !important;
}

.login-file {
/*    box-shadow: 0px 0px 18px rgb(0 0 0 / 62%);*/
/*    border-radius: 15px;*/
    height: 100%;
/*    background-color: #fff;*/
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-slide {
    display: flex;
    text-align: center;
    background-color: transparent;
    font-style: italic;
}

.slick-slide p {
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: var(--light);
}


.btn-office button {
    overflow: visible;
    background-color: var(--primary) !important;
    color: var(--light) !important;
    border: none;
    padding: 10px 40px;
    border-radius: 6px;
    font-size: 16px;
}

.z-button:hover {
    background-color: var(--first-aux) !important;
    color: var(--light) !important;
    border: none;
}

.form-control {
    margin: 1rem;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px;
}

.form-control:focus {
    border-color: #bdbdbd;
    box-shadow: 0 0 0 .2rem rgb(0 123 255 / 0%);
}

.forgot-password {
    margin: 1rem;
}

.bd-back::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
    z-index: -1;
}

.bd-back-col::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 84%);
    z-index: -1;
}
