 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/********** Template CSS **********/
:root {
  --primary: #001c42;
  --primary-text: #001c42;
  --sidebar-bg: #6b70ad;
  --light: #d8821d;
  --blue: #318ef3;
  --blue-barra: #c8daed;
  --black-text: #000000;
  --black-bg: #000000;
  --white-text: #ffffff;
  --white-bg: #ffffff;
  --body-bg: #f4f4f9;
  --toggle-btn: #333333;
  --dropdown: #e3e3e3;
  --card-bg: #f4f4f4;
  --card-border: #9d9d9d;
  --link-hover: #d17a0f;
  
  
  /* Variables de fuente */

	--font-primary: 'DM Sans', sans-serif;
	

}
 
 
 /* Estilos generales */
 body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    color: var(--light) !important;
}

.body-class {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-page-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0px;
/*    border-radius: 10px;*/
    width: 100%;
    max-width: 70%;
/*    box-shadow: 8px 30px 50px -10px rgba(0, 0, 0, 0.5);*/
    display: flex;
}

.auth-left, .auth-right {
    width: 50%;
}

.auth-left {
    text-align: center;
    background-color: #f8f9fa;
    border-right: 1px solid #e9ecef;
    align-content: center;
    border-radius: 80px;
    padding: 20px;
}

.auth-right {
    background-color: #fff;
    align-content: center;
    border-radius: 0px 10px 10px 0px;
    padding: 100px 50px;
}

.auth-right .btn {
    margin-top: 1rem;
}

.logo-leka {
	text-align: center;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-slide {
    display: flex;
    text-align: center;
    padding: 30px;
    background-color: transparent;
    color: white;
    font-style: italic;
}

.slick-dots {
    display: none !important;
}

.slick-slide img {
    display: inline-block !important;
    width: 65%;
}

.slick-slide p {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #6c757d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators button.active {
    background-color: transparent;
}

.auth-title h5 {
    font-weight: 600;
    font-size: 42px;
    color: var(--link-hover);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.auth-title span {
    font-weight: 600;
} 

.auth-right p {
    margin-bottom: 35px;
    color: #2e2e2e;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
}

.form-group input {
    font-family: var(--font-primary);
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 15px;
    margin-top: 10px;
}

.form-group input:hover {
    border-bottom: 1px solid #ced4da;
}

.form-group input:focus {
    font-size: 15px;
    border-bottom: 1px solid #ced4da;
    outline: none; 
}

.btn {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.btn:hover {
    background-color: #5a5a5a;
}

.btn-leka-login {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--link-hover);
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.btn-leka-login:hover {
    background-color: #5a5a5a;
}




.text-muted {
    color: #6c757d;
    text-decoration: none;
}


.text-muted:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #6c757d;
}


input:-internal-autofill-selected {
    background-image: none !important;
    background-color: transparent !important;
}

.form-group:focus-visible {
    background-color: transparent !important;
}

.bd-back::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 84%);
    z-index: -1;
}


@media (max-width: 768px) {
    .auth-left, .auth-right {
        width: 100%;
    }

    .auth-page-wrapper {
        display: block;
        max-width: 80%;
        margin-left: -2.4rem;
    }

    .auth-left {
        border-radius: 0px;
    }
    
    .auth-right {
        border-radius: 0px;
    }
}




/*** REGISTRO ***/

.registro-leka .form-group input {
    font-family: var(--font-primary);
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 15px;
    margin-top: 14px;
}

.w-50 {
	width: 50% !important;
}
.w-33 {
	width: 33% !important;
}

.field-flex {
    display: flex;
    gap: 20px;
}

.z-checkbox-switch>.z-checkbox-mold {
    width: 46px;
    height: 20px;
    margin: 0px;
    border-radius: 20px;
}

.check-terminos {
    text-align: left;
}

.check-terminos .z-checkbox-mold {
    margin-right: 1rem;
}

.check-terminos .z-checkbox-content {
    font-family: var(--font-primary);
    font-size: 15px;
    margin-top: 10px;
}

.z-checkbox-switch>.z-checkbox-mold:before {
    width: 18px;
    height: 18px;
    left: 1px;
    bottom: 0px;
    top: 0.9px;
    border: 1px solid #dfdfdf;
}

.z-checkbox-switch-on>.z-checkbox-mold {
    background-color: var(--primary);
}

.z-checkbox-switch>.z-checkbox-mold:focus {
    -webkit-box-shadow: 0 0 0 0px transparent;
    -moz-box-shadow: 0 0 0 0px transparent;
    -o-box-shadow: 0 0 0 0px transparent;
    -ms-box-shadow: 0 0 0 0px transparent;
    box-shadow: 0 0 0 0px transparent;
}

.auth-page-wrapper-register {
    padding: 0px;
    max-width: 70%;
    border-radius: 15px;
    box-shadow: 0px 2px 30px -10px rgba(0, 0, 0, 0.5);
    display: flex;
}

.auth-left-register {
    text-align: center;
    background-color: #f8f9fa;
    align-content: center;
    padding: 50px 20px;
    border-radius: 15px;
}

