
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/********** Template CSS **********/
:root {
  --primary: #0f92d1;
  --primary-text: #0f92d1;
  --sidebar-bg: #6b70ad;
  --light: #d8821d;
  --blue: #318ef3;
  --blue-barra: #c8daed;
  --black-text: #000000;
  --black-bg: #000000;
  --white-text: #ffffff;
  --white-bg: #ffffff;
  --body-bg: #f4f4f9;
  --toggle-btn: #333333;
  --dropdown: #e3e3e3;
  --card-bg: #f4f4f4;
  --card-border: #9d9d9d;
  --link-hover: #001c42;
  
  
  /* Variables de fuente */

	--font-primary: 'DM Sans', sans-serif;
	

}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/* html,
body {
  height: auto;
} */

body {
  font-family: var(--font-primary);
  background-color: var(--body-bg);
  margin: 0;
  position: relative;
  padding: 0px;
}


.bd-back::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 90%);
  z-index: -1;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 p {
  font-family: var(--font-primary);
}

h1, .h1 {
  font-family: var(--font-primary);
  font-weight: 600;
}

h2, .h2 {
  font-family: var(--font-primary);
  font-weight: 500;
}

h3, .h3 {
  font-family: var(--font-primary);
  font-weight: 400;
}

a {
  color: var(--black-text);
  text-decoration: none;
}

a:hover {
  color: var(--primary-text);
  text-decoration: none;
}



/*** Width ***/

.w-60 {
  width: 60% !important;
}

.w-80 {
  width: 80% !important;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
#doughnut-chart {

background: var(--white-bg) !important;

}

/*** Sidebar ***/
.sidebar {
    position: absolute;
    width: 420px; 
    background-color: var(--sidebar-bg);
    color: #fff; 
    
}



.sidebar-content {
    padding: 20px;
    width: 280px;
}



.sidebar.closed .menu-item span {
  display: none;
}

.sidebar-logo img {
  width: 10%;
  margin: 2rem 0;
}

.sidebar.closed .sidebar-logo img {
  width: 40px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); 
    gap: 10px; 
}

.menu-grid a:hover {
    color: var(--white-text);
}

.menu-item {
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: var(--white-text);
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: 600;
    }
    
.menu-item .fa-duotone, .fad {
	font-size: 16px;
    color: #ffffff;
    background-color: transparent;
}
    
    
.menu-item .fa-duotone:before, .fad:before {
    position: absolute;
    color: #ffffff;
    opacity: var(--fa-primary-opacity, 1);
}
    
    
    
.menu-item a-z:visited{
	color: var(--white-text);
}    
.menu-item a-z{
	color: var(--white-text);
}
.menu-item a-z:hover{
	color: var(--white-text);
}
    
.menu-item:hover {
    box-shadow: 0px 0 6px rgb(0 0 0 / 30%);
}

.menu-item span:hover {
    color: var(--white-text);
}

.menu-item img {
    max-width: 28px;
    height: auto;
}

.menu-item span {
    margin-top: 5px; 
    font-size: 12px;
}
.sidebar .user-profile {
  position: absolute;
  /*bottom: 20px;*/
  left: 20px;
  width: calc(100% - 40px);
  color: var(--white-text);
  margin-top: 4rem;
}


.sidebar hr {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border: 0;
  border-top: 1px solid rgb(255 255 255 / 15%);
}

#sidebar {
    display: none; 
}

#sidebar {
    transition: opacity 0.3s ease;
    opacity: 0; 
    visibility: hidden; 
}

#sidebar.visible {
    opacity: 1; 
    visibility: visible; 
} 

.full-screen {
    flex: 1; 
    width: 100%; 
}

.sidebar-menu {
    position: static;
    top: 100px; 
    left: 0;
/*    width: 325px; */
    height: auto;
    padding: 20px;
    transition: transform 0.3s ease, width 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(0); 
}

.sidebar-menu.hidden {
    transform: translateX(-100%); 
}

.toggle-menu {
    position: absolute;
    top: 120px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: var(--toggle-btn);
    z-index: 1;
}


.hidden {
	display: none
}

.close-btn {
	display: block; 
	float: right;
	font-size: 24px; 
	color: #000; 
	cursor: pointer; 
	position: absolute; 
	top: 10px; 
	right: 15px; 
	float: right; 
	display: none;
}

.visible {
	display: block; 
	font-size: 24px; 
	color: #000; 
	cursor: pointer; 
	margin-top: 8px; 
	margin-right: 4px;
}

.toggle-btn img {
  width: 35px !important;
  padding: 8px;
}

.d-section {
  display: block;
  overflow: hidden;
}

.section-suinsit {
    width: 100%;
    padding: 5px;
}

.section-suinsit.collapsed {
  margin-left: 0px;
}
    


/*** SIDEBAR LEFT ***/


.sidebar-left {
  position: static;
  top: 100px; 
  left: 0;
  width: 325px;
  height: auto; 
  background-color: var(--sidebar-bg);
  padding: 20px;
  transition: transform 0.3s ease, width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-left.closed {
    width: 100%;
    display: contents;
}


.sidebar-left-logo img {
  width: 40%;
  margin: 12px 8px;
}

.sidebar-left.closed .sidebar-logo img {
  width: 40px;
}

.sidebar-left .menu-item {
  display: contents;
  flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--white-text);
}


.sidebar-left .menu-item img {
  width: 30px;
  margin-right: 10px;
}

.sidebar-left .user-profile {
  position: absolute;
  /*bottom: 20px;*/
  left: 20px;
  width: calc(100% - 40px);
  color: var(--white-text);
  margin-top: 4rem;
}


.sidebar-left hr {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border: 0;
  border-top: 1px solid rgb(255 255 255 / 48%) !important;
}

.toggle-btn-left {
  position: absolute;
  top: 120px; /* Ajusta esto según la altura del banner */
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: var(--toggle-btn);
  z-index: 1;
}

.toggle-btn-left img {
  width: 40px;
}

.toggle-btn-left.collapsed {
  top: 160px; 
  left: 260px;
}

/*.content {
  margin-left: 270px;
  margin-top: 120px; 
  transition: margin-left 0.3s ease;
}
*/
.section-suinsit.collapsed {
  margin-left: 0px;
}


.sidebar-left-logo .z-a:visited {
    color: var(--white-text) !important;
}



/*** Banner ***/

.banner-high {
  background-size: cover !important; 
  background-position-y: center !important; 
  height: 40px;
  align-content: center;
}


.banner-high img {
  width: 35px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary);
  position: fixed;
  z-index: 100;
  width: 100%;
}

.banner .logo {
  display: flex;
  align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
}


.right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner .z-button {
    font-family: var(--font-primary);
    background-color: transparent;
}

.banner .z-button:hover {
    background-color: transparent;
}

.empresa {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.empresa h3 {
    color: var(--white-text);
    font-size: 20px;
    margin: 0px;
}

.banner .nav {
  display: flex;
  align-items: center;
}
.dropdown {
  position: relative;
}
.dropdown button {
  background-color: transparent;
  color: var(--white-text);
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.dropdown button:hover {
    background-color: transparent;
    color: var(--link-hover);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 42px;
  background-color: var(--primary);
  min-width: 220px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 10000;
  border-radius: 2px;
}
.dropdown-content a {
  color: var(--white-text) !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid rgb(255 255 255 / 12%);
}

.dropdown-content .z-a {
  color: var(--white-text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid rgb(255 255 255 / 12%);
}

.dropdown-content a:hover {
  background-color: var(--primary);
  color: var(--link-hover) !important;
  border-radius: 0px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.user-dropdown .user-image {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.banner .nav .user-dropdown::after {
  vertical-align: middle;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
  color: var(--white-text);
}

.banner .nav .user-dropdown:hover::after {
    color: var(--link-hover);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  padding: 0px;
}

.low-menu {
  background-color: var(--sidebar-bg);
  display: flex;
  justify-content: space-between;
}

.low-menu .dropdown button {
  background-color: transparent;
  color: var(--white-text);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.low-menu .navbar .dropdown::after {
  border: none;
  content: "\f107";
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
  color: var(--white-text);
}


.menu-toggle {
    display: none; 
    background: none;
    border: none;
    color: var(--white-text);
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.nav .icon-item {
    display: inline-block;
    position: relative;
    padding-right: 10px;
}

.nav .icon-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 1px;
    background-color: #ffffff54; 
}

.banner .icon-item {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    box-shadow: none;
}

.banner .icon-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 1px;
    background-color: #ffffff54; 
}

.filter-icons {
    display: flex;
    align-items: center;
/*    margin-right: -20px;*/
}



.filter-icons i {
  margin-left: 10px;
  cursor: pointer;
}

.filter-icons .fa-duotone, .fad {
    border: none;
}

.filter-icons .fa-duotone:before, .fad:before {
    position: absolute;
    color: var(--primary);
    opacity: var(--fa-primary-opacity, 1);
}

.filters .icon-item {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    box-shadow: none;
}

.filters .icon-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 1px;
    background-color: var(--primary-text);
}

@media (max-width: 768px) {
	
    
    .low-menu .navbar {
        display: none; 
        flex-direction: column;
        width: 100%;
    }

    .low-menu .navbar.show {
        display: flex; 
                align-items: flex-start;
    }

    .menu-toggle {
        display: block; 
    }

    .low-menu .dropdown-content {
        position: static; 
        box-shadow: none;
        background-color: var(--sidebar-bg);
        border-radius: 0;
    }

    .low-menu .dropdown button {
        width: 100%;
        text-align: left;
    }

    .low-menu .dropdown-content a {
        padding: 10px;
    }
}


/***Section***/

.container {
  width: 100%;
  padding: 20px;
}

.tittle-principal {
  margin: 20px 5px 15px 4px;
}

.tittle-principal h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--link-hover);
}

.tittle-principal span {
    padding: 0px;
}

.product-table {
  display: grid;
}

.section-prod {
  margin-bottom: 0px;
  margin-top: 10px;
}

.section-myapp section {
    margin-bottom: 0px;
}

.ic-hiden {
  display: inline-flex;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--card-border);
}



.header .left h1 {
  margin: 0;
}

.header .left p {
  margin: 0;
}

.header .right p {
  margin: 0;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--card-border);
  padding-bottom: 1rem;
}

.btn {
  padding: 10px 20px;
  margin: 0px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-primary {
  color: var(--white-text);
  background-color: var(--primary);
}

.btn-primary:hover {
    color: var(--white-text);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-product {
  padding: 10px 20px;
  border: 1px solid var(--black-text);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white-text);
  margin-bottom: 1rem;
}



.btn-product:hover {
  background-color: var(--card-bg);
}


.actions, .filters, .table-section, .cards {
  display: flex;
  justify-content: right;
  align-items: center;
}

.actions .right .dropdown, .actions .right i {
  margin: 0 10px;
}

.actions .right .dropdown {
  margin: 0 5px;
}

.actions .left .btn {
  margin: 15px 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 14%);
}

.actions .right i {
  margin: 0 5px;
}

.actions .btn-product, .btn-secondary {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/*** Filtros ***/

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem 0rem 1rem;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input,
.search-bar select {
  padding: 5px;
  border: 1px solid var(--card-border);
  border-radius: 5px;
}




/*** Section ***/


.section {
  margin-bottom: 20px;
}

.product-name {
	display: flex;
}

.section .input-group {
  margin-bottom: 10px;
}

.section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.section input, .section select, .section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--card-border);
  border-radius: 5px;
  box-sizing: border-box;
}

.container-edit {
  display: grid;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs-container {
  overflow-x: auto;
}


.tabs-container::-webkit-scrollbar {
  height: 8px; /* Ajusta la altura de la barra deslizante horizontal */
}

.tabs-container::-webkit-scrollbar-thumb {
  background-color: var(--card-border); /* Color de la barra deslizante */
  border-radius: 4px; /* Opcional: redondea las esquinas */
}

.tabs-container::-webkit-scrollbar-track {
  background-color: var(--body-bg); /* Color de la pista de la barra deslizante */
}

.tabs-container:hover::-webkit-scrollbar-thumb {
  background-color: var(--blue-barra); /* Color de la barra deslizante cuando pasas el cursor sobre ella */
}

.tabs {
  display: flex;
  /*width: max-content; */
  margin-bottom: 2px;
  width: 100%;
  justify-content: space-between;
}

.tab-button {
  font-weight: 500;
  padding: 10px 20px;
  white-space: nowrap;
  border: 1px solid var(--card-border);
  background-color: var(--sidebar-bg);
  color: var(--white-text);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.tab-button.active {
  background-color: var(--card-bg);
  color: var(--black-text);
}

.tab-button:hover {
  background-color: var(--card-bg);
  color: var(--black-text);
}

.tab-content {
  display: none;
  padding: 20px 0 30px 0px;
}

.tab-content.active {
  display: block;
  padding: 0px 14px 14px 14px;
  border: 1px solid var(--card-border);
  border-top: none;
  border-radius: 5px;
  padding-bottom: 3rem;
}


/*** Table ***/

.table-section {
  overflow-x: auto;
  justify-content: center;
  margin-bottom: 60px;
}


table {
  width: 100% !important;
  border-collapse: collapse;
/*  border: 1px solid var(--card-border);*/
  background-color: var(--white-bg);
  border: none;
}

thead {
  background-color: var(--sidebar-bg);
  color: var(--white-text);
  white-space: nowrap;
}

thead th {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--card-border);
  font-size: 0.9rem;
  font-weight: 500;
}

tbody td {
  padding: 20px 10px;
  border-bottom: 1px solid var(--card-border);
  font-size: 0.9rem;
  white-space: nowrap;
}

.footer-prd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.5rem;
  background-color: var(--card-bg);
  border-radius: 0px 0px 8px 8px;
}

.pagination span {
  margin: 0 10px;
  cursor: pointer;
}

.btn-pg {
  padding: 3px 10px;
  font-size: 0.9rem;
  background-color: var(--sidebar-bg);
  border-radius: 10px;
  color: var(--white-text);
}

.records select {
  padding: 5px;
}

.fa {
  cursor: pointer;
}

.fa-pen-to-square,
.fa-nfc-trash {
  margin-left: 10px;
}

/*Icons*/

.fa-duotone, .fad {
  position: relative;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: normal;
  padding: 8px 6px;
  border: none;
  border-radius: 5rem;
  background-color: var(--white-bg);
  color: var(--black-bg);
}

.fa-duotone, .fad {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  width: 38px; 
  height: 38px; 
  padding: 0; 
}


.fa-duotone:before, .fad:before {
  position: absolute;
  color: var(--primary);
  opacity: var(--fa-primary-opacity, 1);
}

.btn .fa-duotone, .fad {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  color: var(--white-text);
  padding: 0;
}

.btn .fa-duotone:before, .fad:before {
  position: absolute;
  color: var(--white-text, inherit);
  opacity: var(--white-text, 1);
}


/*** Modal ***/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--card-bg);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--card-border);
  width: 80%;
}

.modal-header, .modal-body, .modal-footer {
  padding: 10px;
}

.modal-header h2 {
  margin: 0;
}

.modal-body input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.card {
  border: 1px solid var(--card-border);
  border-radius: 12px;
  padding: 0px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: none !important;
  box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 24%);
}


.header-card {
  background-color: var(--sidebar-bg);
  color: var(--white-text);
  padding: 10px;
}

.header-card h3 {
  font-size: 1.2rem;
  align-self: center;
  justify-content: space-between;
  display: flex;
}

.body-card {
  padding: 10px;
}



/*** Plantilla ***/

.input-group {
  position: relative;
  display: grid;
  align-items: stretch;
  width: 100%;
  outline: none;
}

.input-group span {
    padding-left: 4px;
}

.input-group-inline {
  position: relative;
  display: inline-grid;
  align-items: stretch;
  width: 100%;
  padding: 8px 0px;
  outline: none;
}

.input-group-flex {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 8px 0px;
  outline: none;
  align-items: flex-end;
}

.element-input {
  border: 1px solid var(--card-border);
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--white-bg);
}

.element-input-tab {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--white-bg);
}

.label-section {
  padding: 2rem 0;
}

.right-buttons {
  display: flex;
}

.dts-grafico {
    align-self: center;
}

.dts-grafico .input-group {
    display: flex;
    padding-bottom: 12px;
}

.result-est {
    font-weight: 600;
}

.msj-graf {
    justify-content: center;
}

.msj-graf .z-listbox {
    border: none !important;
    padding: 0px;
}


/*** Campos ***/

.section input, .section select, .section textarea {
  width: 100%;
  padding: 6px;
  border: none;
  /* border-bottom: 1px solid var(--card-border); */
  border-radius: 0px;
  box-sizing: border-box;
  outline: none;
}

button, input, optgroup, select, textarea {
  outline: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  outline: none;
}

button input:focus {
  box-shadow: none; 
}

/*** Footer ***/

.line-container {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  position: fixed;
  background-color: var(--primary); 
  color: var(--white-text); 
  padding: 5px 15px;
  width: 100%;
  bottom: 0;
  z-index: 100000000;
}

.footer a {
  color: var(--white-text); 
  padding: 15px 0;
  width: 100%;
  bottom: 0;
}

.footer a:hover {
  color: var(--blue); 
}



@media (max-width: 768px) {
  .banner-high {
    height: 60px;
  }

  .section-suinsit {
    height: auto !important;
  }

  .logo img {
    width: 30%;
  }

  .line-container {
    position: fixed;
  }

  /*.toggle-btn {
    top: 100px;
    left: 120px;
    z-index: 1;
  }

  .toggle-btn.collapsed {
    top: 100px;
    left: 20px;
    z-index: 1;
  }*/
  
  .container-edit {
    display: contents;
  }
  
  .input-group {
    display: flex;
  }

  .product-name {
	display: block;
  }
  
  .btn span {
    display: none;
  }
  
  .btn.mov-icon-hide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn.mov-icon-hide {
    font-size: 0; 
  }
  
}



/* Responsive Banner */
@media (max-width: 768px) {
	
	.banner {
	    display: contents;
	    display: flex;
        flex-wrap: wrap;
        flex-direction: inherit;
        align-items: center;
	}
	
	.banner .nav {
        width: 30%;
        justify-content: end;
    }
    
    .banner .nav .dropdown::after {
    	display: none;
	}
	
	.dropdown button {
        padding: 4px;
        font-size: 20px;
    }
    
    .nav .dropdown span {
    	display: none; 
    }
    
    .nav .z-a:visited {
	    color: var(--white-text);
	}
    
    .empresa {
	    width: 100%;
	}
	
	.empresa h3 {
	    font-size: 1.1rem;
	    margin-left: 0.5rem;
	    margin-top: 0.4rem;
	}
	
	.banner-high img {
	    width: 80%;
	}

    .banner .logo {
      margin-bottom: 10px;
    }

    .dropdown {
      margin-left: 0;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
    
    .banner .icon-item {
	    width: 20%;
	}
    
    .left-section {
	    width: 70%;
	}
	
	.z-grid-autopaging .z-row-content, .z-grid-autopaging .z-groupfoot-content {
	    height: 80px;
	}
	
	.btn-mov span {
		margin-top: 10px !important;
        padding-left: 0px;
	}
	
	.mkt .z-row .z-row-inner, .z-row .z-cell {
	    display: contents;
	}
	
	.b-bot {
	    height: 200px !important;
	}
	
	.leka .chatbot-body textarea.form-control {
	    height: 120px !important;
	    border-radius: 0px;
	}
	
	.mkt-dp {
	    display: block;
	}
	
	.chatbot-body .z-hlayout-inner {
	    height: 195px !important;
	}
	
	.area-msgchat {
	    height: 200px !important;
	}
	
	.area-msgchat .badge {
	    display: block;
	}
	
	.img-mov .z-hlayout-inner {
	    width: 100%;
	}
	
	.img-generator {
	    object-fit: contain;
	    width: 100%;
	    height: 100%;
	}
	
	.audio-section {
	    height: 100px !important;
	}
	
	.button-container {
	    display: contents !important;
	}
	
	.button-container .z-hlayout-inner {
	    padding-right: 6px !important;
	}
	
	.btn-action {
	    width: 100% !important;
	    margin-bottom: 10px !important;
	}
	
	table {
	    table-layout: fixed !important;
	    width: 700px !important; /* Asegúrate de que ocupe todo el espacio disponible */
	}

	table th,
	table td {
	    min-width: 100px !important;
	    overflow: hidden !important;
	    text-overflow: ellipsis !important; 
/*	    white-space: nowrap !important; */
	}
	
}

@media (max-width: 480px) {
  .banner {
      padding: 10px;
  }
  .dropdown button {
      padding: 8px;
      font-size: 14px;
  }
  .dropdown-content {
      min-width: 140px;
  }
}



/*** Steps y chatbot ***/

.section-steps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
  width: 1200px;
}

.stepbar > .step:first-child.current:before {
    content: '';
    display: block;
    /* height: 100%; */
    width: 100%;
    background-image: linear-gradient(to right, #446a9e, LightGrey) !important;
    position: absolute;
    top: 18px;
    left: 50% !important;
    z-index: -1;
}

.stepbar>.step.step:last-child:before {
    content: ' ';
    position: absolute;
    display: block;
    top: 18px;
    height: 4px;
    left: 0px;
    right: 0px;
    background-color: LightGrey;
    z-index: -1;
    width: 0% !important;
}

.stepbar > .step.previous:before {
    background-image: linear-gradient(to right, #001c42, #446a9e) !important;
}


.stepbar > .step:before {
    content: ' ';
    position: absolute;
    display: block;
    top: 18px;
    height: 4px;
    left: 50% !important;
    right: 0px;
    background-color: LightGrey;
    z-index: -1;
    width: 100%;
}

.stepbar > .step.current > .step-icon {
    background-color: #001c42 !important;
}

.step .fa-duotone, .fad {
    border: none;
}


/**.step {
  width: 40px;
  height: 40px;
  border: 2px solid var(--card-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.step::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  background-color: var(--card-border);
  z-index: 0;
}

.step:last-child::before {
  display: none;
}

.step.active {
  border-color: #001c42;
  background-color: #001c42;
  color: #fff;
}

.step.active::before {
  background-color: #001c42;
}

.step-bot textarea.form-control {
  width: 100%;
  height: 312px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--card-border);
  border-radius: 10px 10px 0px 0px;
  resize: none;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
*/
.chatbot-body textarea.form-control {
  height: 250px;
}

/* .step-bot .btn.btn-primary {
  color: #FFFFFF;
  background-color: var(--primary);
  border-color: var(--primary);
  padding: 10px 20px;
  border-radius: 5px;
}

.step-bot .btn-primary:hover {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
} */


.chatbot {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #e4e4e4;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 2px 8px 0 rgb(78 78 78 / 27%);
}

.chatbot-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 14px;
  padding-top: 10px;
  border-bottom: 1px solid var(--card-border);
  margin-bottom: 10px;
}

.chatbot-header img {
  width: 48px;
  height: 48px;
  margin-top: -12px;
}

.chatbot-header h5 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #001c42;
}

.chatbot-body h6 {
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
}

.chatbot-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatbot-body input {
    padding: 4px;
    border: none;
    border-bottom: 1px solid var(--card-border);
    border-radius: 0px;
}

.chatbot-body .element-input {
    margin: 0px;
    padding: 4px;
}

.chatbot-body .input-group-flex {
    padding: 0px;
    font-size: 14px;
}

.chatbot-body .btn {
	margin: 0px;
}

.s-bot .card {
	margin-top: 0px;
    box-shadow: none;
}

.s-bot .card-body {
    padding: 0px;
    padding-bottom: 1.5rem;
}

.card-brd .card {
    border: 1px solid var(--card-border);
    border-radius: 6px;
    padding: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none !important;
    box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 24%);
    height: 100%;
}

.crd-tabs .z-tabbox {
    border: none;
}

.crd-tabs .z-tabpanel {
    padding-left: 0px;
    padding-right: 0px;
}

.b-bot {
    border: 1px solid var(--card-border);
    border-radius: 8px;
    background-color: var(--white-bg);
    height: 500px;
}

.pad-0 {
	padding: 0px !important;
}

@media (min-width: 1024px) {
  .step::before {
    width: 260px;
  }
}

@media (max-width: 1024px) {
  .step::before {
    width: 200px;
  }
}

@media (max-width: 768px) {

  .step::before {
    width: 100px;
  }

  
}



/******************** STYLE ZK AJUSTADOS ********************/
/*** Combobok ***/

.z-combobox-popup, .z-bandbox-popup, .z-datebox-popup, .z-timebox-popup {
    font-family: var(--font-primary);
}

.z-combobox-button {
   border: none;
   border-bottom: 1px solid var(--card-border);
   border-bottom: 1px solid var(--card-border);
   border-radius: 0px;
   background-color: transparent;
}


.z-combobox-button:active {
    color: var(--black-text);
    border-color: var(--card-border);
    background-color: transparent;
}

.z-combobox-input:focus {
    border-color: var(--card-border);
}

.z-combobox-input:focus+.z-combobox-button {
    border-left: none;
}

.z-combobox-button:hover {
    border-color: transparent;
    background: transparent;
}

.z-combobox-open .z-combobox-button, .z-bandbox-open .z-bandbox-button, .z-datebox-open .z-datebox-button {
    border-color: var(--card-border);
}

.z-combobox-popup, .z-bandbox-popup, .z-datebox-popup, .z-timebox-popup {
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius:2px;
    border-radius: 2px;
    padding: 0px;
    overflow: hidden;
}

.section input {
    border: none;
    border-bottom: 1px solid var(--card-border);
    border-radius: 0px;
    background-color: transparent;
}

.obligatorio input {
    border-bottom: 1px solid #ff1111 !important;
}

.z-comboitem {
    border-radius: 0px;
}

.z-comboitem:hover {
    background-color: #f8f8f8;
}

.z-comboitem-selected {
    color: var(--black-text);
    font-weight: 500;
}

.z-combobox-input {
    font-family: var(--font-primary);
    font-weight: 500;
    border: none;
    border-bottom: 1px solid var(--card-border);
    border-radius: 0px;
}

.obligatorio .z-combobox-input, .obligatorio .z-combobox-button {
    border-bottom: 1px solid #ff1111 !important;
}

.z-icon-caret-down:before {
    content: "\f107";
}

/*** Textbox ***/



.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox {
    font-family: var(--font-primary);
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--card-border);
    border-radius: 0px;
}


.z-textbox:focus, .z-decimalbox:focus, .z-intbox:focus, .z-longbox:focus, .z-doublebox:focus {
    border-color: var(--card-border);
}

.pd-desc .z-textbox {
    padding: 8px;
    margin: 30px 0px;
}

/*** Button ***/

.low-menu .z-button {
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.low-menu .z-button:hover {
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
}

/*** Drawer ***/

.z-drawer-real {
    background-color: var(--primary);
}

.z-drawer-left .z-drawer-real {
    width: 600px;
    height: 100%;
}

.z-drawer-left .z-drawer-real {
    width: 230px;
    height: auto;
    top: 40px;
    left: 5px;
    border-radius: 4px;
}

.z-drawer-real {
    position: relative;
} 

.z-drawer {
    position: absolute;
}

.z-drawer-open.z-drawer-left .z-drawer-real {
    box-shadow: 2px 0 8px rgb(100 100 100 / 18%);
}
    
.z-drawer-mask {
    background-color: transparent;
}


/*** Drawer left ***/

.draw-left .z-drawer-left .z-drawer-real {
    width: 430px;
    height: 600px;
    top: 138px;
    left: 5px;
    border-radius: 4px;
}

.z-drawer-cave hr {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border: 0;
  border-top: 1px solid rgb(255 255 255 / 48%);
}

.z-drawer-cave .z-a:visited {
    color: var(--white-text);
}

@media (max-width: 768px) {
	.z-drawer-left .z-drawer-real {
	    width: 300px;  
	 }
}


/*** Drawer top ***/

.z-drawer-top .z-drawer-real {
    top: 40px;
    width: 300px;
    height: auto;
    margin-left: 62px;
    border-top: 1px solid rgb(255 255 255 / 12%);
}

.draw-top {
    top: 0;
    left: 0;
    right: 0;
    height: 300px; /* Ajusta según el tamaño del drawer */
    position: fixed;
    transition: transform 0.3s ease-in-out; /* Controla la duración y suavidad de la animación */
    transform: translateY(-50px); /* Empieza 50px más abajo de su posición original */
    opacity: 0; /* Empieza con opacidad 0 para ocultarlo */
}

.draw-top.open {
    transform: translateY(0); /* Desplaza el drawer a su posición original */
    opacity: 1; /* Hazlo visible */
}

/*** Tabbox ***/

.z-tabbox {
    margin-bottom: 4rem;
}


.z-tab {
    font-family: var(--font-primary);
   background-color: var(--primary);
}



.z-tabbox-top>.z-tabs .z-tab {
    display: inline-block;
    float: none;
    vertical-align: bottom;
    font-weight: 500;
    padding: 0px;
    white-space: nowrap;
    border: 1px solid var(--card-border);
    color: var(--white-text);
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    text-align: center;
}


.tabs-diseñador>.z-tabs .z-tab {
    display: inline-block;
    float: none;
    vertical-align: bottom;
    font-weight: 500;
    padding: 0px;
    white-space: nowrap;
    border-radius: 6px;
    border-bottom: 0px solid var(--primary);
    color: var(--white-text);
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    text-align: center;
    margin: 10px;
}

.tabs-diseñador .z-tabs {
    background: transparent;
}

.tabs-diseñador .z-tabbox {
    border: none;
}

.tabs-diseñador>.z-tabs .z-tabs-content {
    margin-bottom: 8px;
}

.tabs-diseñador .z-row .z-row-inner, .z-row .z-cell {
    border: none;
}

.z-tab.z-tab-selected {
    background-color: #9b9b9b; 
    color: var(--black-text); 
}

.z-tab-selected .z-tab-button {
    color: #ffffff; 
}

.z-tab-button {
    color: #ffffff; 
}

.z-tab.z-tab-selected .z-tab-text {
    color: #ffffff; 
}


.z-tab-selected .z-tab-text:hover {
    background-color: #9b9b9b;
    color: #ffffff;
}

.z-tab-text:hover {
    color: rgb(255 255 255 / 90%);
    background-color: #9b9b9b;
}

.z-tab-text {
    font-weight: 500;
    padding: 4px 20px;
    white-space: nowrap;
    color: var(--white-text);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 0.95rem;
}


.z-tabbox-scroll>.z-tabs {
    margin: 0px;
}

.z-tabbox-scroll>.z-tabbox-icon {
    display: none;
}

.z-tab-disabled .z-tab-text {
    color: rgb(147 147 147 / 66%);
    white-space: nowrap;
}

/*.prop .z-tabbox-scroll>.z-tabbox-icon {*/
/*    display: block;*/
/*}*/


/*** Checkbox ***/

.z-checkbox-switch>.z-checkbox-mold {
    width: 46px;
    height: 20px;
    margin: 0px;
    border-radius: 20px;
}



.z-checkbox-switch>.z-checkbox-mold:before {
    width: 18px;
    height: 18px;
    left: 1px;
    bottom: 0px;
    top: 0.9px;
    border: 1px solid #dfdfdf;
}

.z-checkbox-switch-on>.z-checkbox-mold {
    background-color: var(--primary);
}

.z-checkbox-switch>.z-checkbox-mold:focus {
    -webkit-box-shadow: 0 0 0 0px transparent;
    -moz-box-shadow: 0 0 0 0px transparent;
    -o-box-shadow: 0 0 0 0px transparent;
    -ms-box-shadow: 0 0 0 0px transparent;
    box-shadow: 0 0 0 0px transparent;
}



/*** Calendar ***/

.z-calendar thead {
    background-color: var(--card-bg);
    color: var(--white-text);
    white-space: nowrap;
}

.z-calendar th {
    height: 28px;
    border-radius: 0px;
    font-family: var(--font-primary);
    padding: 0px;
}

.z-calendar tbody td {
    padding: 10px;
    border-bottom: 1px solid var(--card-border);
}

.z-calendar-cell {
    height: 20px;
}

.z-calendar-cell:hover {
    background: var(--card-bg);
}

.z-calendar-selected {
    background: var(--sidebar-bg);
}


.z-calendar-selected:hover {
    background: var(--sidebar-bg);
}

.z-datebox-input:focus {
    border-color: var(--card-border);
}


.z-datebox-input:focus+.z-datebox-button {
    border-left: 1px solid var(--card-border);
}


.z-datebox-button:active {
	color: var(--white-text);
    border-color: var(--card-border);
    background-color: var(--sidebar-bg);
}

.z-datebox-button:hover {
	color: var(--white-text);
    border-color: var(--card-border);
    background: var(--sidebar-bg);
}


/*** Icons ***/



.edit .fa-duotone, .fad {
    position: relative;
    font-weight: 900;
    width: 32px;
    height: 32px;
    font-size: 20px;
    letter-spacing: normal;
    padding: 2px;
    border: none;
    border-radius: 5rem;
    background-color: transparent;
    color: #28a745;
}


.edit .fa-duotone:before, .fad:before {
    position: absolute;
    color: #28a745;
    opacity: var(--fa-primary-opacity, 1);
}



.delete .fa-light, .fad {
  position: relative;
  font-weight: 900;
  width: 32px;
  height: 32px;
  font-size: 20px;
  letter-spacing: normal;
  padding: 8px 6px;
  border: none;
  border-radius: 5rem;
  background-color: transparent;
  color: #dc3545;
}

.delete .fa-light, .fad {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 0; 
}

.edit .btn-outline-success:hover {
    color: #28a745 !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.delete .btn-outline-danger:hover {
    color: #dc3545;
    background-color: transparent !important;
    border-color: transparent !important;
}

/*** Colum ***/

.z-column {
    background: var(--primary);
    border-bottom: 1px solid var(--card-border);
    border-left: 1px solid var(--card-border);
}

.z-column-content, .z-row-content, .z-group-content, .z-groupfoot-content, .z-footer-content {
    font-family: var(--font-primary);
    text-align: center;
}

.z-row .z-row-inner, .z-row .z-cell {
    border: 1px solid var(--card-border);
}

.z-label, .z-radio-content, .z-checkbox-content, .z-loading {
    font-family: var(--font-primary);
    font-size: 14px;
    padding: 10px;
}


/*** Button ***/

.z-button {
    font-family: var(--font-primary);
}


/*** Listbox ***/

.z-listbox {
    background: var(--white-bg);
    border: 1px solid var(--card-border);
    overflow: hidden;
    zoom: 1;
}

.z-listbox-header {
    width: 100%;
    background: var(--sidebar-bg);
    position: relative;
    overflow: hidden;
}

.z-listbox-header table th {
    align-content: center;
}

.z-listheader {
    border-left: 1px solid var(--card-border);
    border-bottom: 1px solid var(--card-border);
    padding: 0;
    background: var(--primary);
    position: relative;
    overflow: hidden;
    /* white-space: nowrap; */
}

.z-listheader-sort .z-listheader-content {
    background: var(--primary);
    color: var(--white-text);
}

.z-listheader-sort .z-listheader-content:active {
    background: var(--sidebar-bg);
    color: var(--white-text);
}

.z-listheader-content, .z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
	font-family: var(--font-primary);
    font-size: 14px;
    padding: 8px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    color: #ffffff;
}

.z-listitem>.z-listcell>.z-listcell-content {
    color: rgba(0, 0, 0, 0.9);
}

.z-listheader {
    white-space: normal;
    word-wrap: break-word; 
}

.z-listitem.z-listitem-selected>.z-listcell {
    background: var(--card-bg);
}

.z-listitem.z-listitem-selected:hover>.z-listcell {
    background: var(--card-bg);
}

.z-listitem.z-listitem-selected.z-listitem-focus>.z-listcell{
    background: var(--card-bg);
}

.z-listitem.z-listitem-selected.z-listitem-focus:hover>.z-listcell {
    background: var(--card-bg);
}


/*** Grid ***/

.z-grid {
    border-radius: 12px;
}

.z-grid .z-column-content {
    font-size: 14px;
    line-height: 1.2em;
    padding: 8px;
    color: #fff;
}

.z-grid-header table th {
    white-space: normal;
    word-wrap: break-word;
}

.z-grid .z-row-content {
	font-size: 14px;
    line-height: 1.2em;
    padding: 6px;
    white-space: normal;
    word-wrap: break-word;
}


/*** Step 

.stepbar {
    background: transparent;
    font-family: var(--font-primary);
}

.step:before {
    height: 2px;
    background-color: #D9D9D9;
    flex: 1;
    margin: 0 10px 0 -12px;
}

.step-title {
    background-color: transparent;
    color: var(--white-text);
    line-height: 32px;
    font-size: 16px;
    vertical-align: top;
    margin-left: -36px;
}

.step-icon-empty {
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    background-color: white;
}

.step-active .step-icon-empty, .step-complete .step-icon-empty {
    border-color: var(--primary-text);
    background-color: var(--primary-text);
}

.step-active .step-icon, .step-complete .step-icon {
    color: var(--primary-text);
}
***/



.tab-border table {
	border: none;
    width: 60%;
	margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tab-border td {
	border: none;
}

.breadcrumb {
    padding: .5rem .5rem;
    background-color: transparent;
}


.z-fragment h4 {
    text-transform: capitalize;
    padding: 10px;
}

.card-header {
    padding: .6rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-title {
    margin-bottom: .75rem;
    display: contents;
}

.prof-sh .card {
	box-shadow: none;
}

.aj-card {
    margin: 0px 5px;
}

.ic-btn {
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
}

.ic-btn:hover {
    color: #FFFFFF;
    border-color: transparent;
    background-color: #0FCDC9;
}

.ic-btn-app .fa-duotone, .fad {
    width: 34px;
    height: 34px;
}

.ic-btn-app .fa-duotone, .fad {
    border: none;
}

.btn-ic .z-button {
    
    color: transparent;
    min-height: 24px;
    border: none;
    padding: 0px;
    line-height: normal;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn-ic .z-button:hover {
    color: transparent;
    border-color: transparent;
    background-color: transparent;
}


/* Estilizar el scroll Chatbot*/
.area-msgchat {
  overflow: hidden !important;
  overflow-y: scroll !important;
  height: 500px ; 
}

.area-msgchat::-webkit-scrollbar {
  width: 8px !important; 
}

.area-msgchat::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5) !important; 
  border-radius: 4px; 
}

.area-msgchat::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); 
}


.chatbot-body .z-hlayout-inner {
    min-width: 100% !important;
    height: 105px !important;
    width: 33%;
}

.area-msgchat .bg-secondary {
    float: right;
}

.area-msgchat .badge {
    white-space: normal !important;
    line-height: 20px;
    font-weight: 500;
}

.stl-chat {
    /*display: table-cell;*/
    margin-top: 1rem;
}

.low-menu .z-menubar {
    display: block;
    border-top: none;
    border-bottom: none;
    padding: 4px;
    position: relative;
    background: #FFFFFF;
    margin-top: 2px;
    background-color: transparent;
}

.low-menu .z-menu-selected>.z-menu-content {
    color: #FFFFFF;
    background-color: #0CAFAC;
    background-color: transparent;
}

.low-menu .z-menu-content {
    color: #FFFFFF;
    background-color: #0CAFAC;
    background-color: transparent;
}

.form-group table {
    border: none;
}

.margin-field tbody td {
    border-bottom: none;
}

.margin-field table {
    border: none;
    border-bottom: 1px solid var(--card-border);
}
.ic-bgfull .fa-duotone, .fad {
    position: relative;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: normal;
    padding: 8px 6px;
    border: none;
    border-radius: 5rem;
    background-color: #4174b9;
    color: #ffffff;
}
 
.ic-bgfull .fa-duotone:before, .fad:before {
    position: absolute;
    color: #ffffff;
    opacity: var(--fa-primary-opacity, 1);
}



/*Ajuste scroll barra lateral*/

.scrollable-barra {
  overflow: hidden !important;
  overflow-y: scroll !important;
  height: 700px !important;
}

.scrollable-barra::-webkit-scrollbar {
  width: 8px !important;
}

.scrollable-barra::-webkit-scrollbar-thumb {
  background-color: #b9b9b9 !important;
  border-radius: 4px;
}

.scrollable-barra::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); 
}

.scrollable-barra:hover::-webkit-scrollbar-thumb {
  background-color: #787878 !important; 
}




.barra .z-listbox-body {
  overflow-y: scroll !important;
  overflow-x: scroll !important;
  height: 250px !important;
}

.barra .z-listbox-body::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

.barra .z-listbox-body::-webkit-scrollbar-thumb {
  background-color: #b9b9b9 !important;
  border-radius: 4px;
}

.barra .z-listbox-body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); 
}

.barra .z-listbox-body:hover::-webkit-scrollbar-thumb {
  background-color: #787878 !important; 
}


/*Barra activa*/

.barra-act .z-tabs {
  overflow-x: auto; /* Activa el scroll horizontal */
  display: flex;
  white-space: nowrap;
  background: #ffffff;
}

.barra-act .z-tabs::-webkit-scrollbar {
  height: 8px;
}

.barra-act .z-tabs::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 4px;
}

.barra-act .z-tabs::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.barra-act .z-tabs:hover::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
}



/***** Tablas *****/

.spc-none {
    margin: 3px 0px !important;
    padding: 0px !important;
}

.entity-pl .form-group {
    align-items: center;
    margin-bottom: 1.6rem;
}

.name-textbox {
    width: 95%;
    border: none;
}

.entity-pl .z-textbox {
    background: transparent;
}

.colum-tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding: 15px;
}

.colum-tab tbody td {
    border-bottom: none;
    border: 1px solid var(--card-border);
    display: grid;
    justify-items: center;
}

.colum-tab .z-hbox-separator {
    width: .3em;
    display: none;
}

.colum-tab td img {
    max-width: 45%;
    padding: 0px;
    object-fit: contain;
    image-rendering: auto;
}

.colum-tab .z-label {
    padding: 5px;
}

.prop .z-tabbox {
    margin-bottom: 0px;
}



/*** Barra lateral menu ***/

.menu-sidebar {
    padding: 0px;
/*    border-right: 1px solid var(--card-border);*/
}

.menu-sidebar .z-vbox {
	border-right: 1px solid var(--card-border);
}

.menu-sidebar .z-vbox td {
    padding: 0px;
}

.sidebar-title {
    font-family: var(--font-primary);
    font-size: 1.4em;
    padding: 22px 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--primary);
}

.z-tree {
    border: none;
}

.z-treecell-text {
    margin-left: 0px;
    font-family: var(--font-primary);
    font-size: 14px;
}

.item-first .z-treecell {
    border-top: 1px solid var(--primary);
}

.item-first .z-treecell-text {
    font-weight: 800;
}

.z-tree-body {
  overflow: hidden !important;
  overflow-y: scroll !important;
  height: 800px !important;
}

.z-tree-body::-webkit-scrollbar {
  width: 8px !important;
}

.z-tree-body::-webkit-scrollbar-thumb {
  background-color: var(--white-bg);
  border-radius: 4px;
}

.z-tree-body::-webkit-scrollbar-track {
  background-color: var(--white-bg);
}

.z-tree-body:hover::-webkit-scrollbar-thumb {
  background-color: var(--white-bg); 
}

.z-treecol-content, .z-treecell-content, .z-treefooter-content {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    line-height: 24px;
    overflow: hidden;
}

.z-treerow.z-treerow-selected>.z-treecell {
    background: var(--white-bg);
    color: var(--link-hover);
}

.z-treerow.z-treerow-selected>.z-treecell>.z-treecell-content {
    color: var(--link-hover);
}

.z-treerow.z-treerow-selected.z-treerow-focus>.z-treecell>.z-treecell-content {
    color: var(--link-hover);
}

.z-treerow.z-treerow-selected.z-treerow-focus>.z-treecell {
    background: var(--white-bg);
}

.z-treerow.z-treerow-selected.z-treerow-focus:hover>.z-treecell {
    background: var(--white-bg);
}

.z-treerow.z-treerow-selected:hover>.z-treecell {
    background: var(--white-bg);
}

.z-treerow.z-treerow-selected:hover>.z-treecell>.z-treecell-content {
    color: var(--link-hover);
}

.z-treerow-selected .z-tree-icon {
    color: var(--link-hover);
}

.z-treerow:hover>.z-treecell {
    background: var(--white-bg);
}

.z-treerow:hover>.z-treecell>.z-treecell-content {
    color: var(--link-hover);
}

.z-treerow .z-treecell {
    border-top: none;
}

.item-first .z-treecell-text {
    font-weight: 800;
}

.menu-sidebar tbody td {
    border-bottom: none;
}

.z-treecol-content, .z-treecell-content, .z-treefooter-content {
	white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
}

.z-treerow.z-treerow-selected>.z-treecell>.z-treecell-content {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
}

/*.menu-sidebar .z-treerow .z-treecell {*/
/*  border-top: none;*/
/*}*/

/*.menu-sidebar .z-tree {*/
/*    border: none;*/
/*}*/


        
.cards-mkt {
    position: relative;
    border: 1px solid var(--card-border) !important;
    height: 100%;
    margin-bottom: 10px;
    box-shadow: none;
    overflow: hidden;
    z-index: 0;
    border-radius: 12px;
}

.cards-mkt::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgb(237 238 249 / 97%), rgb(255 255 255 / 68%));
    z-index: -1; 
}

.cards-mkt-sf {
    border: 1px solid var(--card-border) !important;
    height: 95%;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 12px;
}

.mkt-dp {
	padding: 20px;
    display: grid;
}

.mkt .z-grid {
    border: none;
    margin-top: 10px;
}

.mkt .z-row .z-row-inner, .z-row .z-cell {
    border: none;
    justify-content: center;
}

.high-bases .z-row .z-row-inner, .z-row .z-cell {
/*    border-right: 1px solid var(--card-border);*/
    vertical-align: top;
}

.high-bases .z-row .z-row-inner:last-child {
    border-right: none;
}
.card-modelos {
    border: 1px solid #b9b9b9;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}

.btn-mkt {
    justify-content: flex-end; 
    width: auto; 
    display: flex;
    margin-top: -28px;
}

.modelos-ttl {
	font-weight: bold;
    color: #000000;
}

.modelos-txt {
	color: #000000;
}

.card-modelos .img-bdr {
    border-right: 1px solid var(--card-border); 
	padding-right: 10px;
    margin-left: -6px;
    object-fit: contain;
    width: 80px;
    height: 40px;
}

.img-generator {
    object-fit: contain;
    width: 60%;
    height: 60%;
}


.bread-mkt {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #555;
}

.ttl-mkt {
    font-size: 22px;
    font-weight: 600;
    padding-left: 0px;
    color: #000000;
}

.subtt-mkt {
    font-weight: bold;
    font-size: 18px;
    padding-left: 0px;
    border-bottom: 1px solid var(--card-border);
    width: 100%;
    display: flex;
    padding-top: 0px;
}

.txt-mkt {
    padding: 0px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.mkt-search .z-hlayout-inner {
    width: 20%;
}

.z-row:hover>.z-row-inner, .z-row:hover>.z-cell {
    background: transparent;
}


.link-mkt {
    color: var(--link-hover) !important;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}


.bases-cards {
    display: grid;
    justify-content: start;
    justify-items: start;
/*    border-right: 1px solid #000000;*/
    padding: 0px 15px 0px 5px;
}

.bases-cards img {
    width: 50px;
    height: 50px;
    margin: 18px 4px 10px 4px;
}

.bases-ttl {
	font-weight: bold;
    font-size: 16px;
}

.bases-txt {
	display: flex;
    color: #000000;
    text-align: justify;
    line-height: 24px;
}

.z-groupbox {
    padding-top: 0px;
}


.designer-ttl {
    padding: 5px 0px;
    background-color: #6c6d6f !important;
    text-align: center;
    margin: 8px 0px;
}

.b-conocimiento {
    border: none;
}

.b-conocimiento .z-tabs {
    background: transparent;
}

.model-bs {
	font-size: 14px;
}


.ttl-label {
    font-size: 15px;
    font-weight: 600 !important;
}

.bd-seleccion {
    border-left: 1px solid var(--card-border);
}


/***LEKA FILTERS***/

.leka-filters .z-checkbox-switch>.z-checkbox-mold {
    width: 46px;
    height: 20px;
    margin: 0px;
    border-radius: 20px;
}

.leka-filters .z-checkbox-switch>.z-checkbox-mold:before {
    width: 18px;
    height: 18px;
    left: 1px;
    bottom: 0px;
    top: 0.9px;
    border: 1px solid #dfdfdf;
}

.leka-d-flex {
    display: flex;
    align-items: center;
    margin: 2px 0px;
}

.leka-b-bottom {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 5px;
    margin-bottom: 8px;
    max-width: 85%;
}

.leka-proj-check .z-listheader-content, .z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
    font-family: var(--font-primary);
    font-size: 14px;
    padding: 8px;
    padding-left: 10px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    color: #ffffff;
}

.leka .chatbot {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    padding-top: 0 !important;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: none;
}

.leka .chatbot-body textarea.form-control {
    height: 250px;
    /* border: 1px solid #000; */
    background-color: var(--card-bg);
    border-radius: 12px;
}

.z-icon-caret-down {
    font-weight: 400;
    font-size: 12px;
    padding-left: 8px;
}

.sidebar-content .z-icon-caret-down {
    font-weight: 400;
    font-size: 12px;
    padding-left: 0px;
}

.leka-label-ftr {
    font-weight: 600;
}

.leka-drawer-filters {
    margin-bottom: 1rem;
    text-align: right;
}

.leka-drawer-flex {
    border-bottom: 1px solid var(--card-border);
}	

.leka-drawer-txt {
    text-align: left;
}

.leka-drawer-options {
    display: flex;
    align-items: center;
    justify-content: right;
/*    padding-bottom: 1rem;*/
    padding-right: 1rem;
}

.drawer-filter .z-drawer-real {
    position: absolute;
    top: 45px;
    background-color: var(--white-bg);
    border-left: 1px solid var(--card-border);
    box-shadow: none !important;
    padding-bottom: 25px;
}

/*.drawer-filter, .z-drawer-right .z-drawer-real {*/
/*    width: 300px;*/
/*    padding-left: 10px;*/
/*}*/

.leka-drawer-header {
    border-bottom: 1px solid var(--card-border);
}

.drawer-ttl {
    color: var(--primary-text);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
}

.drawer-filter .z-drawer-title {
    color: var(--primary-text);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
}


/* Filtros slider */

.z-slider-area {
    background-color: var(--primary);
}

.z-slider-button {
	border-radius: 14px;
    background-color: var(--primary);
}

.z-slider-button:hover {
    background: var(--primary);
}

.z-slider-button:active {
    background-color: var(--primary);
}

.chat-text .z-listbox {
    border: none;
}

.chat-text .z-hlayout-inner {
    height: 565px !important;
}

.chat-body-up .chatbot-body .z-hlayout-inner {
    min-width: 100% !important;
    height: 120px !important;
    width: 33%;
}

/*Leka audios*/

.leka-audio .z-hlayout-inner {
    width: 100%;
}

.audio-section {
    width: 100%; 
    height: 310px; 
/*    background-color: #f0f0f0;*/
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
/*    border: 2px dashed var(--card-border);*/
/*    border-radius: 8px; */
    text-align: center; 
    margin-top: 10px;
}

.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
    gap: 15px; 
}

.btn-action {
    width: 400px; 
}

.btn-action:hover {
    background-color: #0056b3; /* Color al pasar el ratón */
}

.message-list {
    border-radius: 14px;
}


/***END LEKA FILTERS***/

/***DISEÑADOR***/

.img-dis {
    height: 850px;
    padding: 0px 4px 0px 16px;
}

.img-dis .z-image {
    width: 50px;
    height: 50px;
}

.bg-dark {
    background-color: #54585a !important;
    padding: 0px;
    margin: 12px 0px;
    text-align: center;
}

.column-pd tbody td {
    border-bottom: none;
}

.column-pd .z-combobox {
    width: 100% !important;
}

.column-pd .z-textbox {
    width: 100% !important;
}

.column-al td span {
    padding-left: 0px;
}


.icon-label {
    display: inline-grid;
    font-size: 0px;
    font-weight: 600;
    justify-items: center;
    width: 60px;
    text-align: center;
    line-height: 12px;
    position: relative;
}

.icon-label:hover {
    display: inline-grid;
    color: var(--primary-text);
    font-size: 11px;
    font-weight: 600;
    justify-items: center;
    width: 60px;
    text-align: center;
    line-height: 12px;
    position: relative;
}


.layout-img-dis {
    object-fit: cover;
    width: 100px !important;
    height: 100px !important;
}

.pop-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 5px 20px;
}

.pop-body .stepbar-content .card-body tbody td .z-image {
    object-fit: cover !important;
    width: 100px !important;
    height: 100px !important;
}

.pop-body .stepbar-content .card-body tbody td {
    font-size: 0.6rem !important;
    white-space: initial !important;
    border-bottom: none;
}

.pop-body .stepbar-content .card-body tbody td .z-label {
    font-family: var(--font-primary);
    font-size: 12px;
    padding: 10px;
}


.pop-body .stepbar-content .card-body tbody td .z-radio-content {
    font-size: 10px;
    padding: 6px;
    font-weight: 600;
}

/*.pop-body .stepbar-content .card-body tbody {*/
/*    border: 1px solid var(--card-border);*/
/*}*/

.z-window-shadow {
    box-shadow: none;
}

input[type="radio"]:checked {
    border-color: var(--primary);
}

input[type="radio"]:hover {
    border-color: var(--primary);
}

input[type="radio"]:checked:before {
    background-color: var(--primary);
}


.tab-d-contents tbody td {
    display: contents;
}

.z-grid-body table th, .z-grid-body table td {
    border-bottom: none;
}



.z-dragged {
  max-width: 100px; /* Tamaño máximo deseado */
  max-height: 100px;
  width: auto; /* Mantiene la proporción */
  height: auto; /* Mantiene la proporción */
  box-sizing: border-box; /* Asegura que padding y border estén incluidos en las dimensiones */
  overflow: hidden; /* Evita que el contenido se desborde */
  background-size: contain; /* Ajusta el fondo para que se contenga dentro de los límites */
  background-repeat: no-repeat; /* Evita que el fondo se repita */
  pointer-events: none;
}


/***END DISEÑADOR***/



