html,
body {
  height: auto;
}

body {
  font-family: 'Raleway';
  background-color: #f4f4f9;
  margin: 0;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 p {
  font-family: 'Raleway';
}

h1, .h1 {
  font-family: 'Raleway';
  font-weight: 600;
}

h2, .h2 {
  font-family: 'Raleway';
  font-weight: 500;
}

h3, .h3 {
  font-family: 'Raleway';
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #001c42;
  text-decoration: none;
}

/********** Template CSS **********/
:root {
  --primary: #001c42;
  --light: #d8821d;
  --blue: #318ef3;
  --dark: #000000;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Width ***/

.w-60 {
  width: 60% !important;
}

.w-80 {
  width: 80% !important;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
#doughnut-chart {

background: #ffffff !important;

}

.banner-high {
  background-size: cover !important; 
  background-position-y: center !important; 
  height: 90px;
  align-content: center;
}

.banner-high img {
  width: 20%;
  padding-left: 1rem;
}

.section-suinsit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
}

.container-suinsit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1100px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 500px;
  box-shadow: 4px 6px 8px rgb(0 0 0 / 46%);
  height: 300px;
}

.card img {
  max-width: 100px;
  margin-bottom: 10px;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.line-container {
  background-color: #001c42;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 600px) {
  .container-suinsit {
      flex-direction: row;
      justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .card h2 {
      font-size: 2rem;
  }

  .card img {
      max-width: 100px;
  }
}

@media (min-width: 1024px) {
  .card {
      padding: 40px;
  }
}



@media (max-width: 768px) {
  .banner-high {
    height: 60px;
  }

  .section-suinsit {
    height: auto !important;
  }

  .banner-high img {
    width: 30%;
  }

  .line-container {
    position: relative;
  }
}


